*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
}
header{
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 33px 9%;
}
.logo{
  font-size:30px;
  font-weight: 700;
  color: white;
}
.navlist{
  display: flex;
}
.navlist a{
  color: white;
  margin-left: 60px;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all .55s ease;
}
.navlist a:hover{
  border-bottom: 2px solid white;
}
#menu-icon{
  color: white;
  font-size: 30px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}
.hero{
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(245.59deg,#d0e04a 0%,#6fd053b5 28.53%, #ec8b399c 75.52%);
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}
section{
  padding: 0 12%;
}
.hero-text h5{
  font-size: 14px;
  font-weight: 400;
  color: white;
  margin-bottom: 40px;
}
.hero-text h1{
  font-family: 'Permanent Marker' , cursive;
  font-size: 90px;
  line-height: 1;
  color: white;
  margin: 0 0 45px;
}
.hero-text h4{
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
}
.hero-text p{
  color: white;
  line-height: 1.9;
  font-size: 15px;
  margin-bottom: 40px;
}
.hero-text a{
  display: inline-block;
  color: white;
  background: #4d9559;
  border: 1px solid transparent;
  padding: 12px 30px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all .55s ease;
}
.hero-text a:hover{
  background: transparent;
  border: 1px solid white;
  transform: translateX(8px);
}
.hero-text a.ctaa{
  background: transparent;
  border: 1px solid white;
  margin-left: 20px;
}
.icons{
  position: absolute;
  top: 50%;
  padding: 0 7%;
  transform: translateY(-50%);
}
.icons i{
  display: block;
  margin: 26px 0;
  font-size: 24px;
  color: white;
  transition: all .55s ease;
}
.icons i:hover{
  color: #4d9559;
  transform: translateY(-5px);
}
.scroll-down{
  position: absolute;
  bottom: 6%;
  right: 9%;
}
.scroll-down i{
  display: block;
  padding: 12px;
  font-size: 12px;
  color: white;
  background-color: #4d9559;
  border-radius: 30px;
  transition: all .55s ease;
}
.scroll-down i:hover{
  transform: translateY(-5px);
}
/* Larger width */
@media (max-width: 1535px){
  header{
    padding: 15px 3%;
    transition: .2s;
  }
  .icons{
    padding: 0 3%;
    transition: .2s;
  }
  .scroll-down{
    right: 3%;
    transition: .2s;
  }
}
/*Large Width*/
@media (max-width: 1460px){
  section{
    padding: 0 12%;
  }
  .hero-img img{
    padding: 34px 3px;
  }
}
@media (max-width: 1340px){
  .hero-img{
    width: 100%;
    height: auto;
  }
  .hero-text h1{
    font-size: 75px;
    margin: 0 0 30px;
  }
  .hero-text h5{
    margin-bottom: 25px;
  }
}
@media (max-width: 1195px){
  section{
    padding: 0 3%;
    transition: .2s;
  }
  .hero-text{
    padding-top: 115px;
  }
  .hero-img{
    text-align: center;
  }
  .hero-img{
    width: 560px;
    height: auto;
  }
  .hero{
    height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
  }
  .icons{
    display: none;
  }
  .scroll-down{
    display: none;
  }
}
/* Medium Width */
@media (max-width: 990px){
  #menu-icon{
    display: block;
  }
  .navlist{
    position: absolute;
    top: 100%;
    right: -100%;
    width: 200px;
    height: 55vh;
    background: #4d9559;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding:  50px 20px;
    transition: all .55s ease;
  }
  .navlist a{
    margin-left: 0;
    display: block;
    margin: 7px 0;
  }
  .navlist.open{
    right: 0;
  }
}
/* Small Width */
@media (max-width: 580px){
  .hero-img img{
    width: 70%;
    height: auto;
  }

  section{
    padding: 0 3%;
    transition: .2s;
  }
  .hero-text{
    padding-top: 120px;
  }
  .hero-img{
    text-align: center;
  }
  .hero-img{
    width: 360px;
    height: auto;
  }
  .hero{
    height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
  }
}
/* Extra Small Width */
@media (max-width: 510px){
  section{
    padding: 0 3%;
    transition: .2s;
  }
  .hero-text{
    padding: 95px 8%;
  }
  .hero-text h1{
    padding: 4% 2%;
    font-size: 45px;
    margin: 0px 0px 0px;
  }
}
